@model NoiThat_v2._0.Areas.Admin.Models.TaiKhoan

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!--Nút mở Modal-->
<a class="btn btn-success m-3" onclick="AddTaiKhoan()">Thêm tài khoản</a>

<!-- Modal -->
<div class="modal fade" id="TaiKhoanModal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Thêm tài khoản</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="Refresh()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("AddOrEdit", "TaiKhoan", new AjaxOptions { HttpMethod = "POST", OnSuccess = "Success" }))
                {
                    @Html.Hidden("ID", "0")
                    <div class="form-group">
                        @Html.Editor("HoTen", new { htmlAttributes = new { @class = "form-control", @placeholder = "Họ và tên" } })
                        @Html.ValidationMessage("HoTen", "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Editor("MatKhau", new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Mật khẩu" } })
                        @Html.ValidationMessage("MatKhau", "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Editor("XacNhanMatKhau", new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Xác nhận mật khẩu" } })
                        @Html.ValidationMessage("XacNhanMatKhau", "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <select name="GioiTinh" id="GioiTinh" class="form-control">
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                        </select>
                    </div>
                    <div class="form-group">
                        @Html.Editor("Sdt", new { htmlAttributes = new { @class = "form-control", @type = "number", @placeholder = "Số điện thoại" } })
                        @Html.ValidationMessage("Sdt", "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Editor("NgaySinh", new { htmlAttributes = new { @class = "form-control", @placeholder = "Ngày sinh" } })
                        @Html.ValidationMessage("NgaySinh", "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control", @type = "email", @placeholder = "Email" } })
                        @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Editor("DiaChi", new { htmlAttributes = new { @class = "form-control", @placeholder = "Địa chỉ" } })
                        @Html.ValidationMessage("DiaChi", "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group" id="selectQuyen">
                        @Html.DropDownList("IDQuyen", ViewBag.listQuyen as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessage("IDQuyen", "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success float-right ml-3" id="btnSubmit" value="Submit" />
                        <input type="reset" class="btn btn-secondary float-right" value="Reset" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<table id="tableTK" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Họ và tên</th>
            <th>Giới tính</th>
            <th>Số điện thoại</th>
            <th>Ngày sinh</th>
            <th>Email</th>
            <th>Địa chỉ</th>
            <th>Tên quyền</th>
            <th></th>
        </tr>
    </thead>
</table>

<script>
    var table;
    $.noConflict();
    $(document).ready(function () {

        $('#NgaySinh').datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0"
        });

        table = $('#tableTK').DataTable({
            "ajax": {
                "url": "/TaiKhoan/GetDanhSach",
                "type": "GET",
                "dataType": "json"
            },
            "columns": [
                { "data": "HoTen" },
                { "data": "GioiTinh" },
                { "data": "Sdt" },
                { "data": "NgaySinh" },
                { "data": "Email" },
                { "data": "DiaChi" },
                { "data": "TenQuyen" },
                {
                    "data": "ID", "render": function (id) {
                        return "<a class='btn btn-primary' onclick=BeginEdit('" + id + "') >Edit</a><a class='btn btn-danger' onclick=BeginDelete('" + id + "','/TaiKhoan/Delete')>Delete</a>";
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "15%"
                }],
            lengthMenu: [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]]
        });
    });

    function AddTaiKhoan() {
        $('#IDQuyen').val(2);
        $('#selectQuyen').hide();
        $('#TaiKhoanModal').modal('show');
    }

    function BeginEdit(id) {
        var url = "/TaiKhoan/BeginEdit";
        $.get(url, { id: id }).done(function (tk) {

            $('#ID').val(tk.ID);
            $('#HoTen').val(tk.HoTen);
            $('#Email').val(tk.Email);
            $('#Sdt').val(tk.Sdt);
            $('#DiaChi').val(tk.DiaChi);
            $('#NgaySinh').val(tk.NgaySinh);
            $('#GioiTinh').val(tk.GioiTinh);
            $('#IDQuyen').val(tk.IDQuyen);
            $('#MatKhau').val(tk.MatKhau);
            $('#XacNhanMatKhau').val(tk.MatKhau);

            $('#selectQuyen').show();
            $('#TaiKhoanModal').modal('show');

            $('#ModalLabel').html('Cập nhật thông tin');
        });
    }

    function Refresh() {
        $('#ID').val('0');
        $('#HoTen').val('');
        $('#Email').val('');
        $('#Sdt').val('');
        $('#DiaChi').val('');
        $('#NgaySinh').val('');
        $('#GioiTinh').val('Nam');
        $('#IDQuyen').val('');
        $('#MatKhau').val('');
        $('#XacNhanMatKhau').val('');

        $('#TaiKhoanModal').modal('hide');

        $('#ModalLabel').html('Thêm tài khoản');
    }

</script>