@model List<NoiThat.Models.PhanQuyen>

@{
    ViewBag.Title = "Home Page";
}

<table border="1" cellspacing="0" id="List_PhanQuyen">
    <tr>
        <th>Tên</th>
        <th>Sửa</th>
        <th>Xóa</th>
    </tr>

    @foreach (NoiThat.Models.PhanQuyen item in Model)
    {
        <tr id="tr_@item.Ma">
            <td class="ten">@item.Ten</td>
            <td>
                <a id="edit" href="javascript:BeginEdit('@item.Ma','@item.Ten')" class="btn btn-info">Sửa</a>
            </td>
            <td>
                <a href="javascript:Delete('@item.Ma','@item.Ten')" class="btn btn-primary">Xóa</a>
            </td>
        </tr>
    }
</table>

<h2 id="Title">Thêm phân quyền</h2>
<input type="text" id="txtTenQuyen" placeholder="Tên quyền" />
<br />
<a class="btn btn-danger" onclick="AddOrEdit()">Lưu</a>

<script>

    function AddOrEdit() {
        if (EditMode) {
            SaveEdit();
        }
        else {
            AddPhanQuyen();
        }
    }

    var EditMode = false;
    var EditID = -1;

    function AddPhanQuyen() {
        var tenquyen = $('#txtTenQuyen').val();

        var form = new FormData();
        form.append("tenquyen", tenquyen);

        var xhr = new XMLHttpRequest();
        xhr.open("POST", 'https://localhost:44322/PhanQuyen/AddPhanQuyen', true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var content = xhr.responseText;
                var json_ct = JSON.parse(content);
                if (json_ct.Data.status == "OK") {

                    var tr = '<tr id="tr_' + json_ct.Data.message + '">';

                    tr += '<td class="ten">' + tenquyen + ' </td>';

                    tr += '<td><a id="edit" href = "javascript:BeginEdit(\'' + json_ct.Data.message + '\',\'' + tenquyen + '\')" class="btn btn-info">Sửa</a></td>';

                    tr += '<td><a href = "javascript:Delete(\'' + json_ct.Data.message + '\',\'' + tenquyen + '\')" class="btn btn-primary">Xóa</a></td>';

                    tr += '</td>';

                    tr += '</tr>';

                    $('#List_PhanQuyen').append(tr);

                    alert("Thêm thành công!");

                    $('#txtTenQuyen').val('');
                    
                }

                else {
                    alert(json_ct.Data.message);
                    $('#txtTenQuyen').css('border-color', 'red');
                }
            }
        }

        xhr.send(form);
    }

    function Delete(maquyen, tenquyen) {
        if (confirm('Bạn có chắc là xóa :' + tenquyen)) {
            var form = new FormData();
            form.append('maquyen', maquyen);
            var xhr = new XMLHttpRequest();
            xhr.open("POST", 'https://localhost:44322/PhanQuyen/DeletePhanQuyen', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var content = xhr.responseText;
                    var json_ct = JSON.parse(content);
                    if (json_ct.Data.status == "OK") {
                        $('#tr_' + maquyen).remove();
                        alert("Xóa thành công!");
                    }
                    else {
                        alert('Lỗi: ' + json_ct.Data.message);
                    }
                }
            }
            xhr.send(form);
        }
    }

    function BeginEdit(maquyen, tenquyen) {
        EditMode = true;
        $('#Title').html('Sửa');

        EditID = maquyen;
        $('#txtTenQuyen').val(tenquyen);

    }

    function SaveEdit() {
        var tenquyen = $('#txtTenQuyen').val();

        var form = new FormData();
        form.append("maquyen", EditID);
        form.append("tenquyen", tenquyen);

        var xhr = new XMLHttpRequest();
        xhr.open("POST", 'https://localhost:44322/PhanQuyen/EditPhanQuyen', true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var content = xhr.responseText;
                var json_ct = JSON.parse(content);
                if (json_ct.Data.status == "OK") {

                    $('#tr_' + EditID + ' .ten').html(tenquyen);

                    $('#tr_' + EditID + ' #edit').attr('href', 'javascript:BeginEdit(\'' + EditID + '\',\'' + tenquyen + '\')');

                    alert("Cập nhật thành công!");

                    $('#txtTenQuyen').val('');

                    EditMode = false;
                    EditID = -1;
                    $('#Title').html('Thêm Phân Quyền');
                }

                else {
                    alert(json_ct.Data.message);
                    $('#txtTenQuyen').css('border-color', 'red');
                }
            }
        }
        xhr.send(form);
    }

</script>
