
@using NoiThat_v2._0.Models

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- Shopping Cart -->
<div class="shopping-cart section">

    @{
        List<SanPhamCart> cart = (List<SanPhamCart>)Session["cart"];
        ThanhToan tt = (ThanhToan)Session["thanhtoan"];

        if (cart == null || cart.Count == 0)
        {
        <div class="container">
            <h4>Chưa có sản phẩn trong giỏ!</h4>
            @using(Html.BeginForm("Index", "TrangChu"))
            {
                <button type="submit" class="btn">Về trang chủ</button>
            }
        </div>
        }
        else
        {
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Shopping Summery -->
                        <table class="table shopping-summery">
                            <thead>
                                <tr class="main-hading">
                                    <th>PRODUCT</th>
                                    <th>NAME</th>
                                    <th class="text-center">UNIT PRICE</th>
                                    <th class="text-center">QUANTITY</th>
                                    <th class="text-center">TOTAL</th>
                                    <th class="text-center"><i class="ti-trash remove-icon"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (SanPhamCart item in cart)
                                {
                                    <tr>
                                        <td class="image" data-title="No"><img src="@Url.Content(item.PathImg)" alt="#"></td>
                                        <td class="product-des" data-title="Description">
                                            <p class="product-name"><a href="#">@item.Ten</a></p>
                                            <p class="product-des">@item.Mota</p>
                                        </td>
                                        <td class="price" data-title="Price"><span>@item.Gia </span></td>
                                        <td class="qty" data-title="Qty">
                                            <!-- Input Order -->
                                            <div class="input-group">
                                                <div class="button minus">
                                                    @using (Html.BeginForm("CartGiam", "Cart", new { ID = item.ID }, FormMethod.Post))
                                                    {
                                                        <button type="submit" class="btn">
                                                            <i class="ti-minus"></i>
                                                        </button>
                                                    }
                                                </div>
                                                <input type="text" class="input-number" disabled value="@item.SoLuong">
                                                <div class="button plus">
                                                    @using (Html.BeginForm("CartTang", "Cart", new { ID = item.ID }, FormMethod.Post))
                                                    {
                                                        <button type="submit" class="btn">
                                                            <i class="ti-plus"></i>
                                                        </button>
                                                    }
                                                </div>
                                            </div>
                                            <!--/ End Input Order -->
                                        </td>
                                        <td class="total-amount" data-title="Total"><span>@(item.SoLuong * item.Gia)</span></td>
                                        <td class="action" data-title="Remove">
                                            @using (Html.BeginForm("DeleteCart_Cart", "Cart", new { ID = item.ID }, FormMethod.Post))
                                            {
                                                <button type="submit" class="btn"><i class="ti-trash remove-icon"></i></button>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!--/ End Shopping Summery -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- Total Amount -->
                        <div class="total-amount">
                            <div class="row">
                                <div class="col-lg-8 col-md-5 col-12">
                                    <div class="left">
                                        <div class="coupon">
                                            @using (Html.BeginForm("GiamGia", "Cart", FormMethod.Post))
                                            {
                                                <input name="MaGG" placeholder="Mã giảm giá">
                                                <button type="submit" class="btn">Áp dụng</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-7 col-12">
                                    <div class="right">
                                        <ul>
                                            <li>Tổng tiền<span>@tt.TongTien</span></li>
                                            <li>Phí giao hàng<span>Miễn phí</span></li>
                                            <li>Giảm giá<span>@tt.GiamGia</span></li>
                                            <li class="last">Cần thanh toán<span>@tt.CanThanhToan</span></li>
                                        </ul>
                                        <div class="button5">
                                            <a href="@Url.Action("Checkout", "Checkout")" class="btn">Thanh toán</a>
                                            <a href="@Url.Action("Index", "TrangChu")" class="btn">Tiếp tục mua hàng</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ End Total Amount -->
                    </div>
                </div>
            </div>
        }
    }

</div>
<!--/ End Shopping Cart -->