@model NoiThat_v2._0.Models.TaiKhoan

@{
    Layout = null;
}

<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close" aria-hidden="true"></span></button>
            </div>
            <div class="modal-body">
                <div class="row no-gutters">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <!-- Product Slider -->
                        <div class="product-gallery">
                            <img src="~/Content/User/images/login.png" style="height:500px" alt="#">
                        </div>
                        <!-- End Product slider -->
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="quickview-content">
                            <div class="nav-main">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#DangNhap" role="tab"><h2>Đăng nhập</h2></a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#DangKy" role="tab"><h2>Đăng ký</h2></a></li>
                                </ul>
                            </div>

                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="DangNhap" role="tabpanel">
                                    <div class="tab-single">
                                            @using (Ajax.BeginForm("Login", "Login", new AjaxOptions { HttpMethod = "POST", OnSuccess = "Success_Login" }))
                                            {
                                                <label class="text-danger col-form-label" id="Login_Mess"></label>

                                                <div class="form-group">
                                                    <label>Email</label>
                                                    @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control w-50", @type = "email" } })
                                                    @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group">
                                                    <label>Mật khẩu</label>
                                                    @Html.Editor("MatKhau", new { htmlAttributes = new { @class = "form-control w-50", @type = "password" } })
                                                    @Html.ValidationMessage("MatKhau", "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-footer">
                                                    <button type="submit" class="btn">Đăng nhập</button>
                                                </div>
                                            }
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="DangKy" role="tabpanel">
                                    <div class="tab-single">
                                        @using (Ajax.BeginForm("Sign_up", "Login", new AjaxOptions { HttpMethod = "POST", OnSuccess = "Success_Sign_up" }))
                                        {
                                            <label class="text-danger col-form-label" id="Sign_upMess"></label>

                                            @Html.Hidden("ID", "0")
                                            <div class="form-group">
                                                @Html.Editor("HoTen", new { htmlAttributes = new { @class = "form-control w-50", @placeholder = "Họ và tên" } })
                                                @Html.ValidationMessage("HoTen", "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control w-50", @type = "email", @placeholder = "Email" } })
                                                @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.Editor("MatKhau", new { htmlAttributes = new { @class = "form-control w-50", @type = "password", @placeholder = "Mật khẩu" } })
                                                @Html.ValidationMessage("MatKhau", "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.Editor("XacNhanMatKhau", new { htmlAttributes = new { @class = "form-control w-50", @type = "password", @placeholder = "Xác nhận mật khẩu" } })
                                                @Html.ValidationMessage("XacNhanMatKhau", "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn">Đăng ký</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function Success_Sign_up(data) {
        if (data.success) {
            location.reload();
        }
        else {
            $('#Sign_upMess').html(data.message);
        }
    }

    function Success_Login(data) {
        if (data.admin) {
            window.location.href = "/Admin/Home/Index";
        }
        if (data.user) {
            location.reload();
        }

        if (!data.success) {
            $('#Login_Mess').html(data.message);
        }
    }

    function Logout() {
        $.post("/Login/Logout").done(
            location.reload()
        );
    }

</script>