@model IEnumerable<WebsiteNoiThat.ViewModels.SanPhamViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
        Thêm sản phẩm
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Thêm sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="RefreshModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" hidden name="id" id="txtID" />
                        <input type="text" class="form-control" name="ten" id="txtTen" placeholder="Tên sản phẩm" />
                    </div>
                    <div class="form-group">
                        <input type="file" class="form-control-file" name="ImageFile" id="img">
                    </div>
                    <div class="form-group">
                        @Html.DropDownList("selectDM", ViewBag.listDM as SelectList, "Chọn danh mục cho sản phẩm", new { @class = "form-control mt-3" })
                    </div>
                    <div class="form-group">
                        @Html.DropDownList("selectNCC", ViewBag.listNCC as SelectList, "Chọn nhà cung cấp", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" name="MoTa" id="txtMota"></textarea>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-success float-right" id="btnSubmit" onclick="Submit()">Thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table" id="tableSP">
        <thead>
            <tr>
                <th>
                    Ảnh
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ten)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenDM)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenNhom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenNCC)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@Url.Content(item.ImageSP)" height="100" width="100" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ten)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenDM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenNhom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenNCC)
                    </td>
                    <td class="float-right">
                        <a data-toggle="modal" data-target="#staticBackdrop" onclick="BeginEdit('@item.ID', '@item.Ten', '@item.IdDM', '@item.IdNCC','@item.Mota')" class="btn btn-primary">Sửa</a>
                        <a onclick="Delete('@item.ID','@item.Ten')" class="btn btn-danger">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>

        $.noConflict();
        $('#tableSP').DataTable({ pageLength: 5, lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]] });

        function them(form) {
            $.ajax({
                type: 'POST',
                url: '/SanPham/AddOrEdit',
                data: new FormData(form),
                contentType: false,
                processData: false,
                success: function (data) {
                    alert(data);

                    if (EditMode) {
                        EditID = 0;
                        EditMode = false;
                    }

                    location.reload();
                }
            });
        }

        var EditID = 0;
        var EditMode = false;

        function BeginEdit(id, ten, iddm, idncc, mota) {

            $('#txtTen').val(ten);
            $('#txtMota').val(mota);
            $('#selectDM').val(iddm);
            $('#selectNCC').val(idncc);

            $('#btnSubmit').html('Lưu');
            $('#staticBackdropLabel').html('Sửa thông tin sản phẩm ');

            EditID = id;
            EditMode = true;
        }

        function Submit() {

            var form = new FormData();

            form.append("id", EditID);
            form.append("ten", $('#txtTen').val());
            form.append("iddanhmucsp", $('#selectDM option:selected').val());
            form.append("idncc", $('#selectNCC option:selected').val());
            form.append("mota", $('#txtMota').val());
            form.append("imagefile", $('#img')[0].files[0]);

            $.ajax({
                type: 'POST',
                url: '/SanPham/AddOrEdit',
                data: form,
                contentType: false,
                processData: false,
                success: function (data) {
                    alert(data);
                    location.reload();
                }
            });
        }

        function Delete(id, ten) {
            if (confirm("Bạn có muốn xóa sản phẩm: " + ten)) {
                $.ajax({
                    type: 'POST',
                    url: '/SanPham/Delete',
                    data: JSON.stringify({
                        id: id
                    }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        alert(data);
                        location.reload();
                    }
                });
            }
        }

        function RefreshModal() {
            if (EditMode == true) {
                EditID = 0;
                EditMode = false;

                $('#staticBackdropLabel').html('Thêm tài khoản');
                $('#txtTen').val('');
                $('#txtMota').val('');
                $('#selectDM').val(null);
                $('#selectNCC').val(null);

                $('#btnSubmit').html('Thêm');
            }
        }


    </script>
}

<script src="~/Scripts/jquery-3.5.1.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>